@using Microsoft.AspNetCore.Identity;
@using IDS325___Indice_academico.Controllers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDS325___Indice_academico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IDS325___Indice_academico.styles.css" asp-append-version="true" />
</head>
@using IDS325___Indice_academico.Controllers
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container-fluid">
               @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IDS325___Indice_academico</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                        @if (User.IsInRole("1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Estudiantes" asp-action="Index">Estudiante</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Docentes" asp-action="Index">Docente</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Asignaturas" asp-action="Index">Asignatura</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Seccions" asp-action="Index">Secciones</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Revision" asp-action="Index">Calificaciones</a>
                            </li>
                        }


                        @if (User.IsInRole("2"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CalificacionesEstudiantes" asp-action="Index" asp-route-Matricula="@HomeController.usuario.Matricula">Calificaciones</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CalificacionesEstudiantes" asp-action="Ranking" asp-route-Matricula="@HomeController.usuario.Matricula">Ranking</a>
                            </li>
                        }

                        @if (User.IsInRole("3"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index" asp-route-Matricula="@HomeController.usuario.Matricula">Calificaciones</a>
                            </li>
                        }

                        <li class="d-flex ms-auto">
                            <a class="nav-link text-dark align-self-end" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 fixed mt-auto">
        <div class="container d-flex align-items-center">
            <p>Derechos reservados del grupo #3 - 2022 </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
