@model IEnumerable<IDS325___Indice_academico.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VigenciaPersona)
            </td>
            <td>
                @Html.ActionLink(
                                linkText: "Edit",
                                actionName: "Edit",
                                controllerName: "Docentes",
                                routeValues: new { 
                                    Matricula = item.Matricula,
                                    Contraseña = item.Contraseña
                                },
                                htmlAttributes: null
                                ) |
                @Html.ActionLink(
                                linkText: "Details",
                                actionName: "Details",
                                controllerName: "Docentes",
                                routeValues: new { 
                                    Matricula = item.Matricula,
                                    Contraseña = item.Contraseña
                                },
                                htmlAttributes: null
                                ) |
                @Html.ActionLink(
                                linkText: "Delete",
                                actionName: "Delete",
                                controllerName: "Docentes",
                                routeValues: new { 
                                    Matricula = item.Matricula,
                                    Contraseña = item.Contraseña
                                },
                                htmlAttributes: null
                                )
            </td>
        </tr>
}
    </tbody>
</table>
