@model IDS325___Indice_academico.Models.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Calificación</h1>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAsignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSeccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSeccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VigenciaCalificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VigenciaCalificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
