@model IEnumerable<IDS325___Indice_academico.Models.Calificacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Revisiones</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Matricula
            </th>
            <th>
                Asignatura
            </th>
            <th>
                Sección
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.ActionLink(linkText: "Edit",
                                actionName: "Edit",
                                controllerName: "Revision",
                                routeValues: new {
                                    CodigoAsignatura = item.CodigoAsignatura, 
                                    Matricula = item.Matricula
                                },
                                htmlAttributes: null) |
                @Html.ActionLink(linkText: "Details",
                                actionName: "Details",
                                controllerName: "Revision",
                                routeValues: new {
                                    CodigoAsignatura = item.CodigoAsignatura, 
                                    Matricula = item.Matricula
                                },
                                htmlAttributes: null)
            </td>
        </tr>
}
    </tbody>
</table>
