@using System.Data;
@model DataSet
@using IDS325___Indice_academico.Controllers

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Nombre del Estudiante</th>
            <th>Nota</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["Matricula"]</td>
                <td>@row["Nombre"]</td>
                <td>@row["Nota"]</td>
                <td>@Html.ActionLink(linkText: "Edit",
                                actionName: "Edit",
                                controllerName: "Publicacion",
                                routeValues: new {
                                    Matricula = @row["Matricula"], 
                                    CodigoAsignatura = @row["CodigoAsignatura"],
                                    Trimestre = @row["Trimestre"]
                                },
                                htmlAttributes: null)</td>
            </tr>
        }
    </tbody>
</table>
