@using System.Data;
@model DataSet
@using IDS325___Indice_academico.Controllers

@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<table class="table" id="tbEstudiantes">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Nombre Estudiante</th>
            <th>Calificación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["Matricula"]</td>
                <td>@row["Nombre"]</td>
                <td>@row["Calificacion"]</td>
                <td>@Html.ActionLink(linkText: "Edit",
                                actionName: "Edit",
                                controllerName: "Publicacion",
                                routeValues: new {
                                    CodigoAsignatura = "IDS325", 
                                    Matricula = @row["Matricula"],
                                    Trimestre = "2022-2"
                                },
                                htmlAttributes: null)</td>
            </tr>
        }
    </tbody>
</table>
