@model IDS325___Indice_academico.Models.Asignatura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAsignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAsignatura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoAsignatura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
